html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  margin: 0px; }

section {
  position: relative;
  display: flex;
  height: 400px;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: white; }
  section:last-child {
    margin-right: 0; }

.softskills {
  background: black; }

.skills-container {
  position: relative;
  display: flex;
  height: 100%; }
  .skills-container .inside-cont-label {
    height: 100%;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center; }
    .skills-container .inside-cont-label:last-child {
      margin-right: 0; }
  .skills-container .inside-cont-bar {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start; }
  .skills-container .glue {
    position: relative;
    display: flex;
    width: 452px; }
    .skills-container .glue .inside-box {
      height: 40px;
      width: 150px;
      background: #00637c;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 6; }
      .skills-container .glue .inside-box .fontstyles {
        color: white;
        font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 18px;
        font-weight: 700; }
    .skills-container .glue .bar {
      position: relative;
      display: flex;
      flex-direction: row;
      align-content: space-around;
      height: 12px;
      width: 67%;
      right: 2px;
      border: 2px solid #00637c;
      z-index: 5; }
      .skills-container .glue .bar .bar-fill {
        position: absolute;
        height: 8px;
        z-index: 4;
        background: #30dc96; }
      .skills-container .glue .bar #bar1 {
        width: 95%; }
      .skills-container .glue .bar #bar2 {
        width: 95%; }
      .skills-container .glue .bar #bar3 {
        width: 70%; }
      .skills-container .glue .bar #bar4 {
        width: 90%; }
      .skills-container .glue .bar #bar5 {
        width: 35%; }
      .skills-container .glue .bar #bar6 {
        width: 55%; }
      .skills-container .glue .bar #bar7 {
        width: 65%; }
      .skills-container .glue .bar #bar8 {
        width: 65%; }
      .skills-container .glue .bar .tic {
        position: relative;
        height: 8px;
        width: 25%;
        border-right: 2px solid #448d9f;
        z-index: 6;
        box-sizing: border-box; }
