@import "bourbon";
@import "neat/neat";

body{
	margin:0px;
}
section{
	position: relative;
	display: flex;
	height: 400px;
	@include span-columns(12);
	justify-content: center;
	align-items: center;
	background:white;
		
}
.softskills{
		background:black;
	}
.skills-container{
	position:relative;
	display:flex;
	height:100%;
	// @include span-columns(10 of 12);

	.inside-cont-label{
		height:100%;
		@include span-columns(6);
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		align-items:center;

	}
	.inside-cont-bar{
		height:100%;
		width:40%;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		align-items:flex-start;

	}
	.glue{	
		position:relative;
		display: flex;
		width: 452px;
		.inside-box{
		    height: 40px;
		    width: 150px;
		    background: #00637c;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    z-index: 6;
    			.fontstyles{
				color: white;
				font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
				font-size: 18px;
				font-weight: 700;
			}
		
		}
		
		.bar{
	        position: relative;
		    display: flex;
		    flex-direction: row;
		    align-content: space-around;
		    height: 12px;
		    width: 67%;
		    right: 2px;
		    border: 2px solid #00637c;
		    z-index: 5;
			.bar-fill{
				    position: absolute;
				    height: 8px;
				    z-index: 4;
				    background: #30dc96;
				}
			#bar1{
				width:95%;							
				}
			#bar2{
				width:95%;												
				}
			#bar3{
				width: 70%;												
				}
			#bar4{
				width:90%;												
				}
			#bar5{
				width:35%;												
				}
			#bar6{
				width:55%;												
				}
			#bar7{
				width:65%;												
				}
			#bar8{
				width:65%;												
				}
			
			.tic{
		        position: relative;
			    height: 8px;
			    width: 25%;
			    border-right: 2px solid #448d9f;
			    z-index: 6;
			    box-sizing: border-box;
			}
		}
		
	}
}
